:root{
    --primary-color:#e8e8e9;
    --secondary-color:#abd8f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.no-underline{
    text-decoration: none;
    color: rgb(31, 34, 204);
}

.capital-letters{
    text-transform: uppercase;
}


html{
    font-size: 62.5%;
}

/* HEADER */
.nav-container{
    width: 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
}

.nav-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.nav-logo {
    text-align: start;
}

.nav-logo img{
    width: 20%;
    padding: 0.5rem;
    padding-left: 1rem;

}

.nav-option, .nav-option li{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 0.5rem 3rem
}

/* MAIN */

.main-container{
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 2rem 0;
    line-height: 1.5;   
}

.initial-section{
    margin: auto;
    width: 85%;
    height: 55rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}

.initial-tittle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

.initial-subtitle-position{
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    
}

.initial-subtitle, .initial-subtitle li{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    padding: 0.5rem;
    margin: 0 3rem;
}

.initial-subtitle li{
    width: 20rem;
    border: 0.1rem solid var(--primary-color);
    border-radius: 2rem;
    background-color: var(--primary-color);
}


.article-section h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    font-size: 2.5rem
}

.article-section p{
    display: flex;
    padding: 0.5rem 5rem;
    text-align: justify;
    font-size: 1.5rem;
}

.article-section img{
    display: flex;
    justify-self: center;
    margin-top: 1rem;
    width: 30rem;
}


/* FOOTER */

.footer-container{
    width: 100%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
}

.footer-position-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-img{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 1.5rem;
}

.footer-img p{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.footer-img img{
    width: 3rem;
    margin-top: 0.5rem;
}

.footer-position-2{
    display: flex;

}

.footer-copyright{
    padding-top: 1rem;
    font-size: 1.5rem;
}